{% include base_path %}

{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}

<li class="cv-publication-item" itemscope itemtype="http://schema.org/CreativeWork">
  <h3 class="cv-publication-title" itemprop="headline">
    <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
  </h3>
  {% if post.translated_title %}
    <div class="cv-publication-translation">{{ post.translated_title }}</div>
  {% endif %}
  <div class="cv-publication-citation">{{ post.citation }}</div>
</li>
